html, body, #content {
  height: 97%; }

body {
  background-color: #F5F5F5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0; }

#content {
  height: auto;
  min-height: 97%;
  padding-bottom: 2em; }

h1 {
  font-family: "Yantramanav", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 8rem;
  margin: 0;
  color: #E6D8D8;
  text-align: center; }

section {
  position: relative;
  width: 90%;
  margin: auto;
  background: white;
  font-size: 2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 2px 11px -1px rgba(107, 107, 107, 0.55);
  -moz-box-shadow: 0px 2px 11px -1px rgba(107, 107, 107, 0.55);
  box-shadow: 0px 2px 11px -1px rgba(107, 107, 107, 0.55); }

.todo-box {
  padding: 2%;
  border-bottom: 1px #E6E6E6 solid; }

#downChev {
  font-size: 24px;
  margin-left: 7.5%; }

.icon-box {
  color: #E6E6E6;
  display: inline-block;
  width: 6%; }

.check-circle {
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block; }

.input-box {
  display: inline-block;
  width: 91%; }

input {
  border: none;
  border-color: transparent;
  font-size: 2rem;
  width: 100%;
  font-weight: 300;
  padding: 1%;
  color: #4D4D4D;
  vertical-align: middle; }

input::-webkit-input-placeholder {
  color: #C7C7C7;
  font-weight: 300; }

span .icon-box {
  width: 7%; }

.completed .check-circle {
  color: #7BBDAD;
  background-image: url(../images/checkmark.png);
  background-repeat: no-repeat;
  background-size: 72%;
  background-position-x: 5px;
  background-position-y: 4px;
  border-color: #7BBDAD; }

.completed input {
  color: #E6E6E6;
  text-decoration: line-through; }

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 100;
  color: #777777;
  padding: 1%; }
  nav div {
    display: inline-block; }
  nav p {
    margin: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px; }
  nav .items-left {
    min-width: 129px; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; }
  nav li {
    display: inline-block; }
  nav .clear-completed {
    margin-right: 0;
    min-width: 165px;
    text-align: right; }
  nav .current {
    border: 1px solid #E6E6E6;
    border-radius: 5px; }

#second, #third {
  height: 6px;
  width: 89%;
  margin: auto;
  background: white;
  -webkit-box-shadow: 0px 2px 11px -1px rgba(107, 107, 107, 0.55);
  -moz-box-shadow: 0px 2px 11px -1px rgba(107, 107, 107, 0.55);
  box-shadow: 0px 2px 11px -1px rgba(107, 107, 107, 0.55); }

#third {
  width: 88%; }

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 2em;
  margin-top: -2em;
  color: #C7C7C7;
  width: 100%;
  text-align: center; }
