$bgGrey: #F5F5F5;
$titleGrey: #E6D8D8;
$ltGrey: #E6E6E6;
$dkGrey: #4D4D4D;
$green: #7BBDAD;

body {
  background-color: $bgGrey;
  color: $ltGrey;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}

h1 {
  font-weight: 100;
  font-size: 8rem;
  margin: 0;
  color: $titleGrey;
  text-align: center;
}

section {
  // z-index: 3;
  position: relative;
  width: 90%;
  margin: auto;
  background: white;
  font-size: 2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
  -moz-box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
  box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
}

.todo-box {
  padding: 2% 1%;
  border-bottom: 1px $ltGrey solid;
}

#downChev {
  font-size: 24px;
  margin-left: 1%;
}

.check-circle {
  height: 30px;
  width: 30px;
  border: 1px solid $ltGrey;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
}

input {
  border: none;
  border-color: transparent;
  font-size: 2rem;
  width: 90%;
  font-weight: 300;
  padding: 2%;
  color: $dkGrey;
  vertical-align: middle;
}


// [placeholder]:focus::-webkit-input-placeholder {
//   color: transparent;
// }

.completed {
  .check-circle {
    color: $green;
    background-image: url(../images/checkmark.png);
    background-repeat: no-repeat;
    background-size: 72%;
    background-position-x: 5px;
    background-position-y: 4px;
    border-color: $green;
  }
  input {
    color: $ltGrey;
    text-decoration: line-through;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 100;
  color: grey;
  padding: 1%;
  div {
    display: inline-block;
    width: 30%;
  }
  p {
    margin: 5px 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
  }
  .clear-completed {
    margin-right: 0;
    text-align: right;
  }
  .current {
    border: 1px solid $ltGrey;
    border-radius: 5px;
  }
}

#second {
  // z-index: 2;
  height: 6px;
  width: 89%;
  margin: auto;
  background: white;
  -webkit-box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
  -moz-box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
  box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
}

#third {
  // z-index: 1;
  height: 6px;
  width: 88%;
  margin: auto;
  background: white;
  -webkit-box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
  -moz-box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
  box-shadow: 0px 2px 11px -1px rgba(107,107,107,0.55);
}
